<div class="small-12 large-8 small-centered large-centered column">
<h1 class="dumpling-table">Dumpling King Matcher</h1>

<table class="dumpling-table twelve columns">
    <thead>
      <th>Name</th>
      <th>Soup</th>
      <th>Requested At</th>
      <th>Feeling Generous?</th>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
      <tr>
        <td><%= request.user.first_name %> <%= request.user.last_name %></td>
        <td><%= request.soup %></td>
        <td><%= (request.created_at - 4.hours).strftime('%a. %B %d %r') %></td>
        <td><%= link_to 'Fulfill Request', request, method: :delete, data: { confirm: 'Click OK to Fulfill Request!' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
